@using System.Collections.Generic
<div id='wrap'>

    <header>Scielosophy</header>
    <div class="posts">
        
        @foreach (var post in ViewData["Posts"] as IEnumerable<blog.Models.Post>)
        {
            <article>
                <div class="title">@post.Title</div>
                <div class="date">Sunday, January 21, 2018</div>
                <div class="content">
                    <p>@post.Content</p>
                </div>
                <div class="labels">@post.Labels</div>
            </article>
        }
    </div>

 </div>