@model blog.Models.Author

<div id='wrap'>
    
    <header>Scielosophy</header>
    <div class="about">
        <div>
            <div class="name">@Model.Name</div>
            <div class="details">@Model.Details</div>
            <div class="email">@Model.Email</div>
        </div>
    </div>
    
</div>