.wrap {
    width: 700px;
}

.posts, .about {
    padding: 10px;
}

.labels {
    font-style: italic;
}

article {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

textarea {
    height: 300px;
}

.posts-wrap {
    padding: 10px;
}

h1 a {
    text-decoration: none !important;
    color: green;
}

.author {
    padding: 5px;
}